.cartasinicio{
    width: 100%;
    height: 500px;
     display: flex;
     gap: 20px;
    justify-content: center;
}
#imginicio{
    width: 100%;
    height: 400px;
}
#carrusel{
    width: 100%;
    height: 100%;
}